{% extends 'base.html'%}
{% block container %}
{% load static %}
{% load crispy_forms_tags %}
<div >
  <div class="row">
  <div class="col-md-10">
      <h1>Ingreso de producto</h1>
  </div>
  <div class="col-md-2">
      <a  href="{% url 'ListaIngreso'%}" class="btn btn-primary btn-sm" style="background-color: #8c8c8c"><span class="glyphicon glyphicon-arrow-left"> Regresar </a>
  </div>
</div>
  <form method="post">
    {% csrf_token %}
    {% crispy form %}
    <p style="color:black">.</p>
  </form>
</div>
{% endblock %}
