{% extends 'base.html'%}
{% block container %}
{% load static %}
{% load crispy_forms_tags %}
<div >
  <div class="row">
  <div class="col-md-6">
      <h3>Ingreso de producto</h3>
  </div>
  <div class="col-md-6" align="right">
    <a href="{% url 'ListaIngreso'%}" class="btn btn-primary" style="background-color: #f21202"><span class="glyphicon glyphicon-arrow-left"></span> Regresar</a>
  </div>
</div>
  <form method="post">
    {% csrf_token %}
    {% crispy form %}
    <p style="color:black">.</p>
  </form>
</div>
{% endblock %}
