{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load crispy_forms_tags %}
{% block container %}
<div>
  <div class="row">
    <div class="col-md-6">
      <h1>Transferencia</h1>
    </div>
    <div class="col-md-6" align="right">
        <a  href="{% url 'lista_transferencia'%}"><span class="glyphicon glyphicon-arrow-left"> Regresar </a>
    </div>
  </div>
  <hr>
  <div class="row">
  <div class="col-md-6">
    <h4>Transferencia No: {{transferencia.pk}}</h4>
    <h4>Fecha: {{transferencia.fecha}}</h4>
    <h4>Sede Origen: {{transferencia.sede_origen}}</h4>
  </div>
  <div class="col-md-6">
    <h4>Sede Destino: {{transferencia.sede_destino}}</h4>
    <h4>Descripcion: {{transferencia.descripcion}}</h4>
  </div>
  </div>
  <hr>
  {% if form %}
  <form method="post">
    {% csrf_token %}
    {% crispy form%}
    {% if mensaje %}
    <div align="center">
      <br>
      <h4>{{mensaje}}</h4>
    </div>
    {% else %}
    <p style="color:black">.</p>
    {% endif %}
  </form>
  {% endif %}
</div>
<div>
<table class="table table-striped table-hover">
<thead>
  <tr>
    <th >#</th>
    <th>Codigo</th>
    <th>Nombre</th>
    <th>Cantidad</th>
    <th>Precio Unitario</th>
    {% if form %}
    <th>Eliminar</th>
    {% endif %}
  </tr>
</thead>
<tbody>
  {% for i in lista %}
  <tr>
  <td>{{ forloop.counter }}</td>
  <td>{{i.articulo.articulo.codigo}}</td>
  <td>{{i.articulo.articulo.nombre}}</td>
  <td>{{i.cantidad}}</td>
  <td>Q. {{i.articulo.articulo.precio|intcomma}}</td>
  {% if form %}
  <td><a class="confirm-delete"  href="{% url 'eliminar_detalle_transferencia' i.pk%}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
  {% endif %}
  </tr>
{% endfor %}
</tbody>
</table>
</div>

{% endblock %}
