{% extends 'base.html' %}
{% load static %}
{% block container %}
{% load crispy_forms_tags %}
<div class="row">
  <div class="col-md-6">
    <h3>Artículo</h3>
  </div>
  <div class="col-md-6" align="right">
    <br>

      <a href="{% url 'lista_articulo'%}" class="btn btn-primary btn-sm" style="background-color: #8c8c8c"><span class="glyphicon glyphicon-arrow-left">
      </span> Regresar</a>
  </div>
</div>
  <div class="row">
    <hr>
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
    <form method="post">
      {% csrf_token %}
      {% crispy form %}
    </form>
  </div>
  </div>
  <script type="text/javascript" src="{% static "js/espacioboton.js"%}"></script>

{% endblock %}
