{% load static %}
<!DOCTYPE html>
<html>
<head>
{% include 'head.html'%}
</head>


<body>




{% include 'nav-var.html'%}
<div class="row">
  <div class="col-md-1">

  </div>
  <div class="col-md-10">
    {% block container %}
    {% endblock %}
  </div>
</div>



	</body>
  <div class="panel panel-default footer">
    <center class="footer">Contacto: 4938 1977  |  8 Avenida 5-13 zona 1, chiquimula, Chiquimula |  ortegavaliente@hotmail.com </center>
  	</div>
</html>
