{% extends 'base.html'%}
{% load static %}
{% block container %}
<div class="jumbotron" style="background-color: #808080">
    <div class="container">
  <h1 id="si">Quienes Somos?</h1>
  <hr class="my-4">
  <p id="jjs">Todo lo relacionado a la electrónica.</p>
  <p><a class="btn btn-primary btn-lg" id="menubtn" style="background-color: #b30000">Añadir Usuarios</a></p>
</div>
</div>

	<nav aria-label="page navigation">
      <center>
        <ul class="pagination" class="breadcrumb" id="cent">
          <li class="page-item"><a class="page-link" class="active" id="pagi" href="#">Antes</a></li>

      <!--  <li class="page-item"><a class="page-link" id="pagi" href="#" class="glyphicon glyphicon-wrench">
              <img src="{%static 'img/msp_1607_8389.jpg'%}">Herramientas
            </a></li>
          <li class="page-item"><a class="page-link" id="pagi" href="#" class="glyphicon glyphicon-scale">
              <img src="{%static 'img/compon.jpg'%}">Componentes
              </a></li>
          <li class="page-item"><a class="page-link" id="pagi" href="#" class="glyphicon glyphicon-dashboard">
              <img src="{%static 'img/matprima.jpg'%}"> Materiales
              </a></li>
          <li class="page-item"><a class="page-link" id="pagi"  href="#" class="glyphicon glyphicon-tasks">
              <img alt="hola" src="{%static 'img/otros.jpg'%}">Otros
              </a></li>-->

          <li class="page-item"><a class="page-link" id="pagi" href="#">Siguiente</a></li>
        </ul>

      </center>
      </nav>
{% endblock %}
