{% load static %}
<nav class="navbar navbar-default" style="background-color: #b30000">
  <div class="container-fluid">
    <div class="navbar-header" style="background-color: #b30000">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Navegacion</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'Home'%}" style="background-color: #b30000"><img src="{%static  'img/logo_elca.jpg'%}"></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">


      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'Logout'%}">Cerrar Sesión</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">{{request.user.username}}</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="btn-group btn-group-justified">
  {% if request.user.is_superuser%}
  <a href="{% url 'seleccion_sede_lista_articulo'%}" id="menubtn" class="btn btn-default" style="background-color: #ffcc00">Inventario</a>
  {% else %}
<a href="{% url 'lista_sede_articulo'%}" id="menubtn" class="btn btn-default" style="background-color: #ffcc00">Inventario</a>
  {% endif %}
{% if request.user.is_superuser%}
<a href="{% url 'lista_egreso_super'%}" class="btn btn-default" id="menubtn" style="background-color: #ffcc00">Egresos</a>
{% else%}
<a href="{% url 'lista_egreso_sede'%}" class="btn btn-default" id="menubtn" style="background-color: #ffcc00">Egresos</a>
{% endif %}
<a href="{%url 'ListaTransferencia'%}" class="btn btn-default" id="menubtn" style="background-color: #ffcc00">Transferencias</a>
<a href="{%url 'ListaIngreso'%}" class="btn btn-default" id="menubtn" style="background-color: #ffcc00">Ingresos</a>
{% if request.user.is_superuser%}
    <div class="btn-group">
      <a href="#" class="btn btn-default dropdown-toggle" id="menubtn" id="dropdow" data-toggle="dropdown" style="background-color: #ffcc00">
        Administrativo
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'lista_sede'%}" id="menubtn" style="background-color: #b30000">Sedes</a></li>
        <li><a href="{% url 'lista_usuario'%}" id="menubtn" style="background-color: #b30000">Usuarios</a></li>
       </ul>
    </div>
{% endif %}
</div>
